<section id="nosotros" class="c-site-section c-site-section--about u-center js-scrollspy">
  <div class="o-wrapper o-wrapper--2">
    <h2 class="c-site-section__title u-color-primary js-sr-about">Nosotros</h2>
    <p class="u-white js-sr-about">Somos una empresa dedicada al mantenimiento preventivo y correctivo de sus activos, para dar más vida útil y evitar problemas que perjudiquen con su productividad.</p>
  </div>
</section>
