<section id="contacto" class="c-site-section u-bg-secondary u-overflow-hidden js-scrollspy">
  <div class="o-wrapper o-wrapper--4">
    <h2 class="c-site-section__title u-color-tertiary u-center js-sr-contact">Contactanos</h2>
    <ul class="o-grid o-grid--gutter-5 u-list-reset u-white u-fw-light">
      <li class="o-grid__item u-12/12 u-4/12@tablet js-sr-contact">
        <h3 class="u-mt0 u-uppercase">Telefono</h3>
        <p class="u-fz-sm">#{htmlWebpackPlugin.options.data.phoneNumber}</p>
      </li>
      <li class="o-grid__item u-12/12 u-4/12@tablet js-sr-contact">
        <h3 class="u-mt0 u-uppercase">Correo electronico</h3>
        <p class="u-fz-sm">
          <a href="mailto:#{htmlWebpackPlugin.options.data.email}">#{htmlWebpackPlugin.options.data.email}</a>
        </p>
      </li>
      <li class="o-grid__item u-12/12 u-4/12@tablet js-sr-contact">
        <h3 class="u-mt0 u-uppercase">Areas de Lima cubiertas</h3>
        <div class="u-flex u-fz-sm">
          <ul class="u-flex-auto u-list-reset">
            <li>Breña</li>
            <li>San Borja</li>
            <li>San Isidro</li>
          </ul>
          <ul class="u-flex-auto u-list-reset">
            <li>Breña</li>
            <li>San Borja</li>
            <li>San Isidro</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
