<section id="inicio" class="c-hero js-scrollspy">
  <div class="c-hero__content-wrapper">
    <div class="c-hero__content">
      <h2 class="js-sr-hero">Llama ahora! <span>cualquier trabajo, nosotros lo realizamos sin problemas.</span></h2>
      <p class="js-sr-hero">#{htmlWebpackPlugin.options.data.phoneNumber}</p>
      <a class="o-btn c-btn c-btn--secondary u-uppercase u-color-primary js-sr-hero" href="#contacto">Contactanos</a>
    </div>
  </div>
</section>
