<section id="inicio" class="c-hero js-scrollspy">
  <div class="c-hero__content-wrapper">
    <div class="c-hero__content">
      <h2 class="js-sr-hero">Llama ahora! <span>cualquier trabajo, nosotros lo haremos.</span></h2>
      <p class="js-sr-hero">1-800-000-000</p>
      <button class="o-btn c-btn c-btn--secondary u-uppercase u-color-primary js-sr-hero">Contactanos</button>
    </div>
  </div>
</section>
