<section id="servicios" class="c-site-section u-bg-secondary u-white u-fw-light u-overflow-hidden u-center js-scrollspy">
  <div class="o-wrapper o-wrapper--4">
    <h2 class="c-site-section__title js-sr-services">Nuestros servicios</h2>
    <ul class="o-grid o-grid--gutter-5 u-list-reset">
      each i in new Array(4)
        <li class="o-grid__item u-12/12 u-6/12@tablet u-3/12@laptop js-sr-services">
          <img class="u-mb2" src="https://static.wixstatic.com/media/a38016_6a5a1bff2b7745818c6b2661f05261d9.png/v1/fill/w_65,h_106,al_c,q_80,usm_0.66_1.00_0.01/a38016_6a5a1bff2b7745818c6b2661f05261d9.jpg" alt="Martillo">
          <h3 class="u-mt0">Carpinteria</h3>
          <p class="u-fz-sm u-fw-light u-m0">I'm a paragraph. Click here to add your own text and edit me. It's easy...</p>
        </li>
    </ul>
  </div>
</section>
