<section id="servicios" class="c-site-section c-site-section--services js-scrollspy">
  <div class="o-wrapper o-wrapper--4">
    <h2 class="c-site-section__title js-sr-services">Nuestros servicios</h2>
    <ul class="o-grid o-grid--gutter-5 u-list-reset u-justify-center">
      <li class="o-grid__item u-12/12 u-6/12@tablet u-3/12@laptop js-sr-services">
        <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnobzBzWC1Dd0FlUjA" alt="Destornillador">
        <h3>Electricidad</h3>
        <p>Tableros eléctricos, automatización, instalaciones domiciliarias, termas eléctricas.</p>
      </li>
      <li class="o-grid__item u-12/12 u-6/12@tablet u-3/12@laptop js-sr-services">
        <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnocUk0T190cU5jcnM" alt="Llave inglesa">
        <h3>Gasfitería</h3>
        <p>Mantenimiento de trampas de grasa y campanas, bombas hidroneumáticas, tanques levadizos, conexiones eh instalaciones, problemas de filtraciones.</p>
      </li>
      <li class="o-grid__item u-12/12 u-6/12@tablet u-3/12@laptop js-sr-services">
        <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnodXRJZjRSdDlmdUk" alt="Paleta de albañileria">
        <h3>Albañilería</h3>
        <p>Trabajo de enchapado de cerámico y porcelanato.</p>
      </li>
      <li class="o-grid__item u-12/12 u-6/12@tablet u-3/12@laptop js-sr-services">
        <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnodjRsOFBZU19XYzA" alt="Engranaje">
        <h3>Refrigeración</h3>
        <p>Mantenimiento preventivo de congeladoras y Aire acondicionado.</p>
      </li>
      <li class="o-grid__item u-12/12 u-6/12@tablet u-3/12@laptop js-sr-services">
        <img src="https://drive.google.com/uc?export=download&id=0BwM5_eez3JnoQlJ2bENHTUpJSFk" alt="Mascara de soldador">
        <h3>Soldadura</h3>
        <p>Construcción de estructuras metálicas y acero.</p>
      </li>
    </ul>
  </div>
</section>
