extends partials/layout.pug

block content
  include partials/header.pug
  <main>
    include sections/hero.pug
    include sections/services.pug
    include sections/about.pug
    include sections/contact.pug
  </main>
  include partials/footer.pug
