<header class="c-site-header">
  <div class="c-site-header__container">
    <div class="o-wrapper c-site-header__wrapper">
      <h1 class="c-site-header__title">MJJ</h1>
      <nav class="c-site-nav js-site-nav">
        <ul>
          <li>
            <a href="#inicio" class="o-btn">Inicio</a>
          </li>
          <li>
            <a href="#servicios" class="o-btn">Servicios</a>
          </li>
          <li>
            <a href="#nosotros" class="o-btn">Nosotros</a>
          </li>
          <li>
            <a href="#contacto" class="o-btn">Contacto</a>
          </li>
        </ul>
      </nav>
      <button class="c-site-header__btn-toggle c-hamburger u-hide@laptop js-hamburger" type="button">
        <em></em>
        <em></em>
        <em></em>
      </button>
      <p class="c-site-header__phone-number u-show@laptop">1-800-000-0000</p>
    </div>
  </div>
</header>
