<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFDE11"/>
    <meta name="description" content="Cualquier trabajo, nosotros lo realizamos sin problemas. Llama ahora 1-800-000-000"/>
    <title>M&amp;J Multiservis y Frio</title>
    <meta property="og:url" content="http://mjmultiservis.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="M&amp;J Multiservis y Frio"/>
    <meta property="og:locale" content="es_LA"/>
    <meta property="og:description" content="Cualquier trabajo, nosotros lo realizamos sin problemas. Llama ahora 1-800-000-000"/>
    <meta property="og:image" content="https://static.wixstatic.com/media/a38016_925a0d8e71a44716a65d95ec04e80fe6.jpg/v1/fill/w_640,h_704,al_c,q_85,usm_0.66_1.00_0.01/a38016_925a0d8e71a44716a65d95ec04e80fe6.jpg"/>
    <link rel="manifest" href="/app-manifest.json"/>
  </head>
  <body>
    block content
    <!-- inline webpack manifest -->
    != htmlWebpackPlugin.files.webpackManifest
    <!-- built files will be auto injected -->
  </body>
</html>
