<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#FFDE11"/>
    <meta name="description" content="MJJ servicios"/>
    <title>MJJ</title>
    <link rel="manifest" href="/app-manifest.json"/>
  </head>
  <body>
    block content
    <!-- inline webpack manifest -->
    != htmlWebpackPlugin.files.webpackManifest
    <!-- built files will be auto injected -->
  </body>
</html>
